@import 'style.css';



main {
    font-family: "Roboto", "Arial", sans-serif;
    margin-left: 72px;
    flex-grow: 1;
}

.recomendation-theme {
    margin-left: 24px;
    position: fixed;
    z-index: 2;
    background-color: #0F0F0F;
    width: 100%;
}

.recomendation-theme-ul {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: start;

}

/* или */

.base-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.theme {

    width: auto;
    margin: 0;
    padding: 0px 12px;
    margin: 12px 12px 12px 0px;
    background-color: rgba(255, 255, 255, 0.1);
    list-style-type: none;
    transition: 500m cubic-bezier(.05, 0, 0, 1);
    min-width: 12px;
    padding: 0 12px;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    position: relative;
    font-family: "Roboto", "Arial", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: inline-flex;
    height: 32px;
    color: var(--text-primary-color);
    transition: 500ms;
}

.theme.active {
    background-color: var(--text-primary-color);
    color: #0F0F0F;
}

.theme:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.theme.active:hover {
    background-color: var(--text-primary-color)
}

.theme span {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 2rem;
    font-weight: 500;
    max-width: 20rem;
    width: 100%;
    text-decoration: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: #f1f1f1;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #f1f1f1;
}



.recomendation-video {
    padding: 16px 0;
    margin-left: 16px;
    margin-top: 56px;
}

.recomendation-video-container {
    display: flex;
    flex-wrap: wrap;
}

.video-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 8px 8px 40px 8px;
}



.video-img-preview {}

.video-img-preview img {
    width: 345px;
    height: 195px;
    border-radius: 12px;
}

.video-details {
    width: 345px;
    display: flex;
}

.video-details-logo {
    height: 100px;
    margin-top: 12px;
    margin-right: 12px;
}

.video-details-logo-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video-descriptions-info {
    display: flex;

}

.video-descriptions-info span {
    margin: 0;
    padding: 0;
}

.video-descriptions-title {
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;

    font-weight: 500;
    margin: 12px 0 4px 0;
}

.video-descriptions-more {
    font-size: 14px;
    color: #aaaaaa;
}

.video-descriptions-more a {
    color: #aaaaaa;
}